@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border p-0 text-[#222];
  }
  body {
    @apply bg-[#f9f9f9] sm:px-4 md:px-8 lg:px-24;
  }
}

@layer components {
  .form-input {
    @apply rounded-none border-none p-4 hover:border-none focus:border-none focus:ring-0;
  }
  .shadow-input {
    @apply shadow-light-surface !important;
  }
}

@layer base {
  * {
    @apply font-sans-nunito font-normal antialiased;
  }
}

.ProseMirror:focus {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror {
  > ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0.5em;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5em;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }

      ul li,
      ol li {
        display: list-item;
      }

      ul[data-type='taskList'] > li {
        display: flex;
      }
    }
  }
}

.ProseMirror ul[data-type='taskList'] {
  padding-left: 0;
}

.ProseMirror ul[data-type='taskList'] li {
  display: flex;
  align-items: flex-start;
}

.ProseMirror ul[data-type='taskList'] li > label {
  margin-right: 0.5em;
  user-select: none;
}

.ProseMirror ul[data-type='taskList'] li > div {
  flex: 1;
}

.ProseMirror img {
  max-width: 100%;
}
